html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Header */

.only-desktop {
  display: none;
}

@media (min-width: 448px) {
  .only-desktop {
    display: block;
  }
}

.container-top {
  max-width: 1080px;
  margin: 0 auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.bg-black {
  background-color: #222222;
}

.bg-yellow {
  background-color: #F0A83E;
}

.subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 5px 0px;
}

.logo {
  display: flex;
  align-items: center;
  color: #3C2313;
}

.logo .img {
  width: 30px;
}

.logo span {
  color: #fff;
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.arrow-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

@media (min-width: 448px) {
  .header {
    padding: 0;
  }
}

nav {
  display: none;
}

@media (min-width: 448px) {
  nav {
    display: block;
  }
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
  color: #fff;
}

li {
  display: flex;
}

li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  transition-property: scale color;
  transition-duration: 300ms;
}

li a:hover {
  scale: 1.1;
  color: #3C2313;
}

li img {
  width: 15px;
  height: 15px;
}

@media (min-width: 448px) {
  .menu-mobile {
    display: none;
  }
}

/* Main */

/* Hero */

.hero {
  background-image: url(/frontend1-maquetado/img/bowl-and-pet-daities-on-green-background\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 448px) {
  .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.hero-content {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.hero-title {
  background-color: #fff;
  font-size: 30px;
  padding: 10px;
}

@media (min-width: 448px) {
  .hero-title {
    font-size: 40px;

  }
}

.hero-button {
  border: none;
  padding: 15px;
  font-size: 20px;
  background-color: #F0A83E;
  color: #fff;
  border-radius: 5px;
  transition-property: scale opacity;
  transition-duration: 300ms;
}

.hero-button:hover {
  scale: 1.1;
  opacity: 90%;
  cursor: pointer;
}

/* Main section */

.main-section {
  padding: 20px 0;
}

.main-section-pawprint {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #3C2313;
  font-size: 30px;
  text-align: center;
  margin: 10px 0;
}

@media (min-width: 448px) {
  h2 {
    font-size: 40px;
  }
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #666666;
}

.categories a {
  color: #3C2313;
}

/* Products */

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px 0;
}

@media (min-width: 448px) {
  .products {
    flex-direction: row;
  }
}

.product-card {
  background-color: #FBFAF6;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  transition-property: all;
  transition-duration: 300ms;
}

.product-card:hover {
  cursor: pointer;
  transform: translate(3px, -3px);
  box-shadow: -3px 3px 0 3px #3C2313;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.product-price {
  color: #F0A83E;
  margin-top: 2px;
}

/* Contact */

.contact-title {
  font-size: 30px;
  text-align: center;
  color: #3C2313;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

input {
  all: unset;
  background-color: #3C2313;
  padding: 15px 20px;
  width: 80%;
  border-radius: 15px;
  color: #fff;
}

@media (min-width: 448px) {
  input {
    width: 400px;
  }
}


input::placeholder {
  color: #e1e1e1;
  font-size: 15px;
}

input:focus-visible {
  box-shadow: 0px 0px 0px 3px #F0A83E;
}

.form-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 25px;
  padding-bottom: 50px;
}

.btn {
  all: unset;
  padding: 10px 20px;
  color: #fff;
  border-radius: 10px;
  transition-property: cursor scale opacity;
  transition-duration: 300ms;
}

.btn:hover {
  cursor: pointer;
  scale: 1.05;
  opacity: 95%;
}

.btn-reset {
  background-color: #8A8787;
}

.btn-send {
  background-color: #F0A83E;
}

/* Subscribe */

.subscribe {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

@media (min-width: 448px) {
  .subscribe {
    flex-direction: row;
    gap: 0;
  }
}

.subscribe-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 15px;
}

.subscribe-form {
  display: flex;
  gap: 10px;
}

.subscribe-input {
  background-color: #fff;
  flex: 1;
  color: #3C2313;
}

.subscribe-input::placeholder {
  color: #8A8787;
}

.subscribe-input:focus-visible {
  box-shadow: 0px 0px 0px 3px #3C2313;
}

.btn-sub {
  background-color: #3C2313;
  padding: 15px 20px;
  border-radius: 20px;
}

/* Footer */

footer {
  background-color: #3C2313;
}

.footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

@media (min-width: 448px) {
  .footer {
    flex-direction: row;
    padding: 30px 30px 0 30px;
  }
}

.logo-footer h3 {
  font-size: 20px;
  color: #fff;
}

@media (min-width: 448px) {
  .logo-footer {
    font-size: 30px;
  }
}

.footer-span {
  color: #F0A83E;
}


.logo-footer {
  display: flex;
  align-items: center;
}

.logo-footer .img {
  width: 30px;
}

.logo-footer span {
  color: #F0A83E;
}

.footer-actions {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 15px;
  padding-bottom: 20px;
}

.footer-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #fff;
}

.footer-card:hover {
  cursor: pointer;
}

.footer-card-img {
  width: 80px;
}

.footer-card-title {
  font-size: 25px;
  font-weight: 700;
}

.footer-card-subtitle {
  color: #8A8787;
}

.copyright {
  padding: 10px 0;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 700;
}

.down-arrow {
  width: 20px;
  height: 20px;
  color: #fff;
}
